{% extends "layout.html" %}

{% block critical_dependencies %}
{{block.super}}
<link href="{% static 'dashboard/css/dashboard.css' %}" rel="stylesheet">
{% endblock critical_dependencies %}

{% block dependencies %}
{{block.super}}
<script defer src="{% static 'dashboard/js/dashboard.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    new Dashboard('price-dashboard', ['price-chart'], '{{tickers}}').plot();
  });
</script>
{% endblock dependencies %}

{% block content %}
<nav class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand">
        Pick your stocks here!
      </span>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for stock in stocks %}
        <li {% if forloop.first %}class="active"{% endif %}>
          <a href="[id='{{stock.ticker}}'].tab-pane" data-toggle="tab">{{stock.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="col-md-4">
    <div class="tab-content">
      {% for stock in stocks %}
      <div id="{{stock.ticker}}" class="tab-pane {% if forloop.first %}active{% endif %}">
        <div class="jumbotron">
          <h3>{{stock.name}} <span class="small">({{stock.ticker}})</span></h3>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-8">
    <div class="jumbotron dashboard-container" dashboard="price-dashboard">
      <div class="dashboard-chart"  id="price-chart"></div>

      <div class="dashboard-loading">
        <i class="fa fa-spinner fa-pulse fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
